.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.list-item {
   padding: 20px;
   margin: 20px;
   border: 1px solid;
   border-radius: 10px;
   min-width: 450px;
}

.loader, .error-message {
   margin: 20px 0px;
   font-size: 32px;
}

.search-input {
   padding: 10px 20px;
   border-radius: 10px;
   outline: 0;
   font-size: 18px;
   min-width: 250px;
   border-color: rgba(0, 0, 0, 0.2);
}