.App {
  text-align: center;
}

.typeahead-container {
   width: 720px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.suggestion-list {
   padding: 0;
   margin-top: 5px;
   width: 570px;
   max-height: 260px;
   overflow-y: scroll;
}

.suggestion-item {
   list-style-type: none;
   padding: 15px;
   background-color: aliceblue;
   margin: 2px 0;
}

.no-results, .err-msg, .loader {
   width: 370px;
   min-height: 100px;
   background-color: aliceblue;
   padding-top: 20px;
   margin-top: 5px;
}

.active-item {
   background-color: aquamarine;
}